* {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Karla', sans-serif;
}

main {
  padding: 36px;
}

.navbar {
  background-image: linear-gradient(to right,#672280, #A626D3);
  color: white;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  margin-left: 5%;
}

.nav-left > h2 {
  font-weight: 600;
  font-stretch: extra-condensed;
}

.nav-right {
  padding-right: 5%;
}

.nav-right > h4 {
  font-weight: 400;
}

.troll-face {
  height: 30px;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  padding-bottom: 10px;
}

.form-input {
  font-family: 'Karla', sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form-btn {
  grid-column: 1 / -1;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-image: linear-gradient(to right,#672280, #A626D3);
}

.meme {
  position: relative;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}